body {
    margin: 10px 250px;
    background-image: url("i/backgound.jpeg");
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.container {
    display: flex;
}
.list {
    flex: 1;
    margin: auto 50px;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.collage img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.quote-block {
    position: relative;
    padding: 20px;
    margin: 20px 285px;
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    font-style: italic;
    font-size: 16px;
}
.quote-block img {
    border-radius: 50px;
}
.quote-block .quote-text {
    margin-bottom: 10px;
}
.quote-block .quote-author {
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
